body {
	font-size: 17px;
	line-height: 22px;
}

.welcome {
	padding-top: 45px;
	padding-bottom: 123px;

	background-image: url("../images/banner-bg-tablet.jpg");
}

.container {
	padding-left: 35px;
	padding-right: 35px;
}

.header-logo {
	width: 158px;
}

.menu-list {
	display: none;
}

.welcome-title-container {
	margin-top: 101px;
	width: 604px;
}

.welcome-title {
	font-size: 40px;
	line-height: 55px;
}

.headline-group {
	font-size: 14px;
}

.main-group-headline {
	font-size: 18px;
}

.trend-posts {
	margin-bottom: 50px;
}

.trend-post {
	max-width: 296px;
	min-height: 247px;
	margin-top: 4px;
}

.trend-post:nth-child(-n + 2) {
	margin-top: 0;
} 

.trend-post:nth-child(2n + 3) {
	margin-left: 0;
}

.post-category {
	margin-top: 12px;
}

.page {
	display: flex;
	justify-content: space-between;
	margin-bottom: 55px;
}

.news {
	width: calc(100% - 270px - 35px);

}

.post {
	border-bottom: 3px solid #eeeeee;
}

.post:last-child {
	border-bottom: none;
}

.post-image {
	width: 100%;
}

.sidebar {
	margin-left: 20px;
}

.product {
	width: calc((100% / 2) - 11px);
	margin-top: 30px;
}

.product:nth-child(-n + 2) {
	margin-top: 0;
}

.second-product {
	margin-left: 22px;
}

.popup-body {
	padding: 25px 15px 15px;
}

.popup-content {
	max-width: 392px;
	padding: 50px 30px 55px;
}

.radio-group-text::before {
	width: 26px;
	height: 26px;
	background-size: 26px;
}

.popup-close {
	width: 28px;
	height: 28px;
	background-size: 28px;
	top: -38px;
}

@media (orientation: landscape) {
	.trend-post {
		width: 296px;
	}

	.trend-post:nth-child(3n + 3) {
		margin-left: 4px;
	}

	.trend-post:nth-child(n + 3) {
		margin-top: 0;
	}
}
